.aa-navmenu-container {
    ul.aa-navmenu {
       
        margin: 0;
        text-align: center;
        .clearfix;
        li {
            display: inline-block;
    zoom:1;
    *display:inline;
            padding-right: 10px;


            > a {
                font-size:1em;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}